[Unit]
Description=lmtpsmsd
Requires=lmtpsmsd.socket

[Service]
User=lmtpsmsd
Environment=LMTPSMSD_INI=/etc/lmtpsmsd.ini
ExecStart=/usr/local/lmtpsmsd/bin/lmtpsmsd
Type=notify
NotifyAccess=main
Restart=on-failure
PrivateTmp=yes
PrivateNetwork=yes
ProtectSystem=full
ProtectHome=yes
WorkingDirectory=/usr/local/lmtpsmsd

[Install]
Also=lmtpsmsd.socket
WantedBy=multi-user.target
